<a href="https://colab.research.google.com/github/RDifault/simple_python_program/blob/main/first_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
D = {"Item Name" : ["Ayam Goreng", "Mie Goreng", "Donat"], "Qty" : [10,2,3], "Price" : [10000, 5000, 7000]}
data = pd.DataFrame(D)
print(data)
totalPrice = pd.Series([])
for i in range (len(data)):
    totalPrice[i] = data["Qty"][i] * data["Price"][i]

data.insert(3, "TotalPrice", totalPrice)
print(data)

maxValue = data.max()
print("- Maximum -\n")
print("All data: \n", maxValue)
print("Qty :", maxValue["Qty"])
print("Price : ", maxValue["Price"])
print("Total Price : ", maxValue["TotalPrice"])

minValue = data.min()
print("\n- Minimum -\n")
print("All data : \n", minValue)
print("Qty : ", minValue["Qty"])
print("Price : ", minValue["Price"])
print("Total Price : ", minValue["TotalPrice"])

avgValue = data.mean()
print("\n- Average -\n")
print("All data : \n", avgValue)
print("Qty : ", avgValue["Qty"])
print("Price : ", avgValue["Price"])
print("Total Price : ", avgValue["TotalPrice"])

sumValue = data.sum()
print("\n- Summary -\n")
print("All data : \n", sumValue)
print("Qty : ", sumValue["Qty"])
print("Price : ", sumValue["Price"])
print("Total Price : ", sumValue["TotalPrice"])

     Item Name  Qty  Price
0  Ayam Goreng   10  10000
1   Mie Goreng    2   5000
2        Donat    3   7000
     Item Name  Qty  Price  TotalPrice
0  Ayam Goreng   10  10000      100000
1   Mie Goreng    2   5000       10000
2        Donat    3   7000       21000
- Maximum -

All data:
 Item Name     Mie Goreng
Qty                   10
Price              10000
TotalPrice        100000
dtype: object
Qty : 10
Price :  10000
Total Price :  100000

- Minimum -

All data :
 Item Name     Ayam Goreng
Qty                     2
Price                5000
TotalPrice          10000
dtype: object
Qty :  2
Price :  5000
Total Price :  10000

- Average -

All data :
 Qty               5.000000
Price          7333.333333
TotalPrice    43666.666667
dtype: float64
Qty :  5.0
Price :  7333.333333333333
Total Price :  43666.666666666664

- Summary -

All data :
 Item Name     Ayam GorengMie GorengDonat
Qty                                   15
Price                              22000
TotalPrice                        131000
dtype: object
Qty :  15
Price :  22000
Total Price :  131000

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """